#1-Write a Python program to calculate the length of a string using 2 ways

In [20]:
var = "welcom"
print(len(var))

6

In [21]:
def length(name):
    counter = 0
    for i in name:
        counter += 1
    return counter
name = "welcom"
print(length(name))

6

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [23]:
str = input()
index1= str[0:2]
index2= str[-2:]
if len(str) < 2:
    print("")
else:
    new_str = index1 + index2
    print(new_str)

wearehuman
wean

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [28]:
str = input()
if len(str)<3:
    print("")
else:
    if str[-3:] =="ing":
        new_str = str[0:-3] + "ly"
        print(new_str)
    else:
        new_str = str+ "ing"
        print(new_str)

hu

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [52]:
def long_word(list):
    maxlen = 0
    maxw = None
    for i in list:
        if len(i)> maxlen:
            maxlen = len(i)
            maxw = i
            
    return maxw, maxlen        
list = input().split()
print(long_word(list))

shv ohiybjhj klh rssfb lkjihgjj bjuhn
('ohiybjhj', 8)

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [58]:
str = input()
new = str[-1]+str[1:-1]+str[0]
new

tgnikop

'pgnikot'

In [72]:
str = input()
first = str[0]
sec = str[-1]
new = str.maketrans(sec+first,first+sec)
print(str.translate(new))

igytft
tgyifi

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [100]:
var = input()
count = ""
for i in var:
    if var.index(i) % 2 == 0:
        count += i
        
print(count)

khgfuik
kguk

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [118]:
str = "amr and ahmed are frindes but amr is the tallest"
words = str.split()
for word in words:
    count = str.count(word)
    print(word," : ",count)

amr  :  2
and  :  1
ahmed  :  1
are  :  1
frindes  :  1
but  :  1
amr  :  2
is  :  1
the  :  1
tallest  :  1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [125]:
var = input()
upp = var.upper()
print(upp)
low = var.lower()
print(low)

ztdHREHR
ZTDHREHR
ztdhrehr

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [140]:
str = input()
if len(str) % 4 == 0:
    new = str[::-1]
    print(new)
else:
    print("worng")

oimuyrtw
wtryumio

**10- Write a Python program to remove a newline in Python

In [160]:
name = '''esraa
abdallah
hasan'''
n = name.replace("\n"," ")
n

'esraa abdallah hasan'

**11-Write a Python program to check whether a string starts with specific characters

In [190]:
def d_word(string):
    spilte = string.split()
    char = "Dd"    
    for word in spilte:
        if word[0] not in char:
            return False
        else:
            return True 
string = input()
result = d_word(string)
print(result)

djb
True

**12- Write a Python program to add prefix text to all of the lines in a string

In [196]:
var = '''hamza
noor
abdalrhman
'''
line = var.splitlines()
for word in line:
    prefix = "Thanks "
    print (prefix + word)

Thanks hamza
Thanks noor
Thanks abdalrhman

**13-Write a Python program to print the following numbers up to 2 decimal places

In [227]:
num = float(input())
print("{:.2f}".format(num))

+3.48210
3.48

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [226]:
numbers = [-9.14258, 22.73127, -11.21345, 0.735905]
for num in numbers:
    print(f"{num:+.2f}")

-9.14
+22.73
-11.21
+0.74

**15-Write a Python program to display a number with a comma separator

In [2]:
number = float(input())
num_str = str(number)
count = 0
formatted_num = ""

for i in num_str[::-1]:
    if count == 3:
        formatted_num += ","
        count = 0
    formatted_num += i
    count += 1

formatted_num = formatted_num[::-1]
print(formatted_num)

7582453.74584
7,582,453,.74,584

**16-Write a Python program to reverse a string using 2 ways

In [11]:
num = input()
new = num[::-1]
new

wdfggda

'adggfdw'

In [12]:
reverse = ''.join(reversed(num))
reverse

'adggfdw'

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [4]:
def repeated_char(input_str):
    char = {}
    for i in input_str:
        if i in char:
            if i != " ":
                char[i] +=1
        else:
            char[i] =1
    for i in char:
        if char[i]>1:
            print(i ,"is repeated", char[i],"times")
    return char

input_str = "Write a Python program"
print(input_str)
repeated_char(input_str);

Write a Python program
r is repeated 3 times
t is repeated 2 times
a is repeated 2 times
o is repeated 2 times

**18-Write a Python program to find the first non-repeating character in a given string

In [3]:
def non_repeated_char(input_str):
    char = []
    for i in input_str:
        char.append(i)
    for i in char:
        if char.count(i) == 1:
            print(i ,"is the first char non repeated")
            break
    return char

input_str = "find the first non-repeating"
print(input_str)
non_repeated_char(input_str);

find the first non-repeating
d is the first char non repeated

**19-Write a Python program to remove spaces from a given string

In [18]:
string = "Write a Python program to remove spaces from a given string"
for i in string:
    if i != " ":
        print(i,end="")
    else:
        continue

WriteaPythonprogramtoremovespacesfromagivenstring

**20-Write a Python program to count the number of non-empty substrings of a given string

In [25]:
def count_substring(input_str):
    
    count = len(input_str) * (len(input_str) + 1) // 2
    return count

input_str = "Python"
result = count_substrings(input_str)
print("the number of non-empty substrings :", result)

the number of non-empty substrings : 21

**21-write a Python program to swap first and last element of any list.

In [37]:
lis =[1, 2, 4, 5, 6, "ahmed", "hossam", "ali", 1.3, True]
print(lis)
lis[0],lis[-1]=lis[-1],lis[0]
print(lis)

[1, 2, 4, 5, 6, 'ahmed', 'hossam', 'ali', 1.3, True]
[True, 2, 4, 5, 6, 'ahmed', 'hossam', 'ali', 1.3, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [38]:
list1 = [5,7,9,0,2,6]
position1=int(input())
position2=int(input())
list1[position1],list1[position2]=list1[position2],list1[position1]
list1

4
2

[5, 7, 2, 0, 9, 6]

**23- search for the all ways to know the length of the list

In [39]:
list1 = [5,7,9,0,2,6]
len(list1)

6

In [40]:
list1 = [5,7,9,0,2,6]
counter = 0
for i in list1:
    counter +=1
counter

6

**24-write a Python code to find the Maximum number of list of numbers.

In [44]:
list1 = [5,7,9,0,2,6]
max(list1)

9

**25-write a Python code to find the Minimum number of list of numbers.

In [46]:
list1 = [5,7,9,2,6]
min(list1)

2

**26-search for if an elem is existing in list

In [5]:
list1 = [5,7,9,2,6]
search = int(input())
if search in list1:
    print("Yes, is existing in list")
else:
    print("No, is not existing in list")

6
Yes, is existing in list

**27- clear python list using different two ways

In [2]:
list1 = [5,7,9,2,6]
list1.clear()
list1

[]

In [6]:
list1 = [5, 7, 9, 2, 6, 8, 0, 1, 3]

for i in list1[:]:
    list1.remove(i)

print(list1)

[]

**28-remove duplicated elements from a list

In [8]:
list1 = [5, 7, 9, 2, 6, 8, 0, 1, 3,1,5,8]
seet = set(list1)
seet

{0, 1, 2, 3, 5, 6, 7, 8, 9}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [19]:
def conv(test_list, key_list):
    new = []
    for i in range(0, len(test_list), 2):
        new.append({key_list[i]: test_list[i], key_list[i+1]: test_list[i+1]})
    return new

test_list = ["Gory", 8, "issa", 6]
key_list = ["name", "old"]
output = conv(test_list, key_list)
print(output)

IndexError: list index out of range

**30-write a python program to count unique values inside a list using different ways

In [24]:
k = [5,77,90,4,11,2,5,90,1,77,6,44,30,4,1,8,88,80,8,11,90,6]
unique_values= set(k)
print(k)
print(unique_values)
print(len(unique_values))

[5, 77, 90, 4, 11, 2, 5, 90, 1, 77, 6, 44, 30, 4, 1, 8, 88, 80, 8, 11, 90, 6]
{1, 2, 4, 5, 6, 8, 11, 44, 77, 80, 88, 90, 30}
13

**31-write a python program Extract all elements with Frequency greater than K 
(Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [1]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8,8,4]
counter = []
spechal = []
h = int(input())
for i in test_list:
    counter.append(i)
    if counter.count(i)>= h:
        spechal.append(i)
w = set(spechal)
print(w)

5
{4}

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [17]:
Input = [1, 2, 2, 3, 4, 5]
k = []
for i in range(len(Input)):
    if Input[i]==Input[0]:
        k.append(Input[i+1])
    elif Input[i]==Input[-1]:
        k.append(Input[i-1])
    else:    
        if (Input[i-1]>Input[i+1]) == True:
            k.append(Input[i-1])
        else:
            k.append(Input[i+1])
k

[2, 2, 3, 4, 5, 4]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [6]:
from itertools import permutations
lis = input().split()
Combination = permutations(lis, 3)
 
for i in Combination:
    print(i)

7 5 3 1
('7', '5', '3')
('7', '5', '1')
('7', '3', '5')
('7', '3', '1')
('7', '1', '5')
('7', '1', '3')
('5', '7', '3')
('5', '7', '1')
('5', '3', '7')
('5', '3', '1')
('5', '1', '7')
('5', '1', '3')
('3', '7', '5')
('3', '7', '1')
('3', '5', '7')
('3', '5', '1')
('3', '1', '7')
('3', '1', '5')
('1', '7', '5')
('1', '7', '3')
('1', '5', '7')
('1', '5', '3')
('1', '3', '7')
('1', '3', '5')

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [22]:
import itertools

numbers = [1, 2, 3]

combinations = []

for r in range(len(numbers)+1):
    for combination in itertools.combinations(set(numbers), r):
        combinations.append(combination)

print(combinations)

[(), (1,), (2,), (3,), (1, 2), (1, 3), (2, 3), (1, 2, 3)]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [31]:
from itertools import product
List_1 = ["a","b"] 
List_2 = [1,2] 
lis = []
for element in itertools.product(List_1, List_2):
    lis.append(element)
lis

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output :  3 4 5 )

In [35]:
test_list = [1, 1, 2, 3, 4, 5, 1, 2, 1]
occurrences = []
for i in test_list:
    if test_list.count(i) == 1:
        occurrences.append(i)
occurrences

[3, 4, 5]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [29]:
from itertools import compress

data = ["Gfg", "is", "best"]
selectors = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
k =[]
for v in selectors:
    k.append(data[v])
print(k)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [9]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 4
N = 1
result = []

for i in test_list:
    if i.count(K) == N:
        result.append(i)

print(result)

[(5, 4, 3)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [30]:
from collections import OrderedDict
dic = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sorted_dic = {k: dic[k] for k in sorted(dic.keys())}
sorted_dic

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [26]:
from collections import OrderedDict
dic = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sorted_dic = sorted(dic.items(), key=lambda x: x[1])
print(sorted_dic)

[('yash', 2), ('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32)]

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [37]:
dic = {"Gfg": 3, "is": 7, "best": 10, "for": 6, "geeks": "CS"}
r = 7
g = dic.copy()

g = {key: value for key, value in g.items() if (isinstance(value, int) and value < r) or  isinstance(value, str)}

print(g)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [49]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50, 6:60} 
dic1.update(dic2)
dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [63]:
# key is name 
# value is the old
dic = {"hamza": 12, "noor": 11, "abdulrhman": 10, "smaher": 25, "esraa": 20}
for key,value in dic.items():
    print("name is",key,"and his old",value)

name is hamza and his old 12
name is noor and his old 11
name is abdulrhman and his old 10
name is smaher and his old 25
name is esraa and his old 20

**44- Write a Python script to merge two Python dictionaries

In [64]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic1.update(dic2)
dic1

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [66]:
dictionary={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
m = max(dictionary.values())
n = min(dictionary.values())
print("the maximum number ",m)
print("the minimum number ",n)

the maximum number  60
the minimum number  10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [76]:
w = {"c1": "red", "c2": "green", "c3": None}
w = {key: value for key, value in w.items() if value is not None}
print(w)

{'c1': 'red', 'c2': 'green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [82]:
tupy = (4, 6, 0, 33, 21, 12)
print(tupy[3])

33

**48-Write a Python program to unpack a tuple into several variables

In [86]:
tupy = (4, 6, 0, 33, 21, 12)
a,b,*c,al = tupy
print(a)
print(b)
print(c)
print(al)

4
6
[0, 33, 21]
12

In [87]:
tupy = (4, 6, 0, 33, 21, 12)
a,b,c,n,m,v = tupy
print(a)
print(b)
print(c)
print(n)
print(m)
print(v)

4
6
0
33
21
12

**49-Write a Python program to add an item to a tuple

In [102]:
tupy = (4, 6, 0, 33, 21, 12)
b = 4
tupy_add = tupy + (b,) # the coma is important
print(tupy_add)

(4, 6, 0, 33, 21, 12, 4)

**50-Write a Python program to convert a tuple to a string

In [103]:
tupy = (4, 6, 0, 33, 21, 12)
d = str(tupy)
print(d)

(4, 6, 0, 33, 21, 12)

**51-Write a Python program to convert a list to a tuple

In [104]:
listy = [4, 6, 0, 33, 21, 12]
tupley = tuple(listy)
print(tupley)

(4, 6, 0, 33, 21, 12)

**52-Write a Python program to reverse a tuple

In [106]:
tupy = (4, 6, 0, 33, 21, 12)
l = list(tupy)
l.reverse()
result = tuple(l)
result

(12, 21, 33, 0, 6, 4)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [124]:
lis = [(10, 20, 30), (40, 50, 60), (70, 80, 90)] 
for i in range (0,len(lis)):
    lis[i] = lis[i][:2]+("etc",)
lis

[(10, 20, 'etc'), (40, 50, 'etc'), (70, 80, 'etc')]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [126]:
string = "python3.0" 
u = tuple(string)
u

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [160]:
num = ((10, 20, 30), (40, 50, 60), (70, 80, 90))
submition = [y for i in num for y in i]
s = sum(submition)  
r = s / len(submition)
print(r)

50.0

**56-Write a Python program to add member(s) to a set.

In [164]:
s = {5,2,0,8}
s.add(6)
s

{0, 2, 5, 6, 8}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [2]:
s = {0, 2, 5, 6, 8}
r = int(input())
if r in s:
    s.remove(r)
s

2

{0, 5, 6, 8}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [4]:
s1 = {3,7,90,21,11,46,10}
s2 = {11,10,5,9,2,7,50,90}
i = s1.intersection(s2)
u = s1.union(s2)
d = s1.difference(s2)
m = s1.symmetric_difference(s2)
print(i)
print(u)
print(d)
print(m)

{11, 90, 10, 7}
{2, 3, 5, 7, 9, 10, 11, 46, 50, 21, 90}
{3, 21, 46}
{2, 3, 5, 9, 46, 50, 21}

**59-Write a Python program to find the maximum and minimum values in a set

In [5]:
s1 = {3,7,90,21,11,46,10}
m = max(s1)
print(m)
n = min(s1)
print(n)

90
3

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [8]:
def find_pairs(my_list, given):
    pairs = []
    for i in range(len(my_list)):
        for j in range(i + 1, len(my_list)):
            if my_list[i] + my_list[j] == given:
                pairs.append((my_list[i], my_list[j]))
    return pairs


my_list = [2, 4, 3, 5, 6, 8, 9, 1, 11]
given = 10

result = find_pairs(my_list, given)
print(result)

[(2, 8), (4, 6), (9, 1)]